
<h4>Edit Sighting</h4>

<% if @sighting.errors %>
    <% @sighting.errors. full_messages.each do |message| %>
        <li> <%= message %></li>
    <% end %>
 <% end %>

            

    <%= form_for @sighting do |form| %>

    <%= form.label :date%>
    <%= form.text_field :date%> 
    <br />
    <%= form.label :time%>
    <%= form.text_field :time%>
    <br />
    <%= form.label :longitude%>
    <%= form.text_field :longitude%> 
    <br />
    <%= form.label :latgitude%>
    <%= form.text_field :langitude%>
    <br />
    <%= form.label :region%>
    <%= form.text_field :region%>
    
    <br />
    
    <%= form.submit "Edit Sighting" %>
    
  <% end %>