<% if @animal.errors %>
<ul>
    <% @animal.errors.full_messages.each do |message| %>
   <li> <%= message %> </li>
<% end %>
</ul>
<% end %>

<h1>Create a new Animal</h1>
<%= form_for @animal do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <br/>

    <%= form.label :latin_name %>
    <%= form.text_area :latin_name %>
    <br />
    
     <%= form.label :kingdom %>
    <%= form.text_area :kingdom %>
 
    <%= form.submit "Create"%>
 
<% end %>